name: CI
on:
  push:
    paths-ignore:
      - docs/**
      - '*.md'
  pull_request:
    paths-ignore:
      - docs/**
      - '*.md'
jobs:
  browsers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Install Dependencies
        run: npm install
      - name: Test
        run: npm run test:browsers
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install --ignore-scripts
      - name: Test
        run: npm test
  test-legacy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 6
          - 8
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install --ignore-scripts
      - name: Test
        run: npm run test:legacy
  automerge:
    needs:
      - browsers
      - test
      - test-legacy
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
